BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
ColumnLimit: 88
IndentWidth: 2
TabWidth: 2
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
NamespaceIndentation: None
